<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated protocolosv2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="protocolosv2.presentation.Protocolosv2ModelWizardID"
            name="%_UI_Protocolosv2ModelWizard_label"
            class="protocolosv2.presentation.Protocolosv2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Protocolosv2ModelFile.gif">
         <description>%_UI_Protocolosv2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated protocolosv2 -->
      <editor
            id="protocolosv2.presentation.Protocolosv2EditorID"
            name="%_UI_Protocolosv2Editor_label"
            icon="icons/full/obj16/Protocolosv2ModelFile.gif"
            extensions="protocolosv2"
            class="protocolosv2.presentation.Protocolosv2Editor"
            contributorClass="protocolosv2.presentation.Protocolosv2ActionBarContributor">
      </editor>
   </extension>

</plugin>
